<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeflowcrafter.FitnessTracker">

    <application
        android:name=".FitnessTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile.Activity_Profile_Main"
            android:label="@string/title_activity_main_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exercise.Activity_Exercise_Main"
            android:label="@string/title_activity_main_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestingHeartRate.Activity_RHR_Main"
            android:label="@string/title_activity_main_resting_heartrate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BMI.Activity_BMI_Main"
            android:label="@string/title_activity_main_bmi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shared.HeartRate.Activity_Heart_Rate_Counter"
            android:label="@string/title_activity_heart_rate_counter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BMR.Activity_BMR_Main"
            android:label="@string/title_activity_main_bmr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseHeartRate.Activity_EHR_Main"
            android:label="@string/title_activity_main_ehr"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".Profile.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.ProfileProvider" />
        <provider
            android:name=".Exercise.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.ExerciseProvider" />
        <provider
            android:name=".BMI.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.BmiProvider" />
        <provider
            android:name=".RestingHeartRate.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.RhrProvider" />
        <provider
            android:name=".BMR.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.BmrProvider" />
        <provider
            android:name=".ExerciseHeartRate.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.EhrProvider" />
        <provider
            android:name=".RepMax.Implementation.ContentProvider.Provider"
            android:authorities="com.codeflowcrafter.FitnessTrackerApp.RepMaxProvider" />
    </application>

</manifest>